---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
#BreakBeforeBraces: Allman
IndentCaseLabels: false
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AccessModifierOffset: -4
NamespaceIndentation: All
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
DerivePointerAlignment: true
PointerBindsToType: true
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
PenaltyReturnTypeOnItsOwnLine: 100000
IndentPPDirectives: None
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true